<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic site</title>
</head>
<body>
<table style="widtd:50%">
    <th>First name</th>
    <th>Last name</th>
    <th>Balance</th>
    {% for user in users %}
    <tr>
        <td><a href="{% url 'users-detail' user_id=user.id %}">{{user.first_name}}</a></td>
        <td>{{user.last_name}}</td>
        <td>{{user.token.balance}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>