<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detailed view of user</title>
</head>
<body>
<table style="widtd:50%">
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Referrer email</th>
    <th>Balance</th>
    <th>Last source</th>
    <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.referrer_email}}</td>
        <td>{{user.token.balance}}</td>
        <td>{{user.token.source.value}}</td>
    </tr>
</table>
</body>
</html>